.chat-post{data:{message: {id: message.id}}}
  .chat-name
    = message.user.name
    %span.message-date<>
      = message.created_at.strftime("%Y年%m月%d日 %H時%M分")
  .chat-message
    - if message.content.present?
      %p.message__content
        = message.content
    = image_tag message.image.url, class: 'lower-message__image' if message.image.present?


    -# .chat-post
    -#   %h2.chat-name 
    -#     masa
    -#     %span.message-date 2019/11/20 (Wed) 17:43:01
    -#   .chat-message おはよう！
    -# .chat-post
    -#   %h2.chat-name 
    -#     masa
    -#     %span.message-date 2019/11/20 (Wed) 17:43:01
    -#   .chat-message こんにちは！
    -# .chat-post
    -#   %h2.chat-name 
    -#     masa
    -#     %span.message-date 2019/11/20 (Wed) 17:43:01
    -#   .chat-message こんばんは！